header{
    margin-bottom: 100px;
}

.navbar{
    background-color: rgb(199, 202, 198);
    height: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

.logo {
    width: 350px;
    height: 150px;    
}

.colapse{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-picture{
    margin-top: 13px;
}

.container{
    display: flex;
    flex-direction: row;
}

.nav-link{
    width: 100%;
    margin-right: 50px;
}